{% include 'frontend/base.html' %}
<main class="page-main">

  <!-- Input area -->
  <div class="row">
    <div class="container">
      <div class="input-field col s6">
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">School Name</label>
      </div>

      <div class="input-field col s6">
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">School District</label>
      </div>


      <div class="file-field input-field col s6">
        <div class="btn">
          <span>File</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>

    </div>
    <!-- Second Col -->
    <div class="container">
      <div class="input-field col s6">
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">School District</label>
      </div>
    </div>

</main>
{% include 'footer/footer.html' %}
